<!DOCTYPE html>
<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        jQuery.each( [ "put", "delete" ], function( i, method ) {
            jQuery[ method ] = function( url, data, callback, type ) {
                if ( jQuery.isFunction( data ) ) {
                    type = type || callback;
                    callback = data;
                    data = undefined;
                }
            
                return jQuery.ajax({
                    url: url,
                    type: method,
                    dataType: type,
                    data: data,
                    success: callback
                });
            };
        });

        $('#update').click(function () {
                title = $("#title").val();
                text = $("#text").val();
                author = $("#author").val();
                category = $('#category').val();
                id = $('#id').val();

                if (!id){
                    $('#message').html('* Please enter a valid ID for the blog post youy wish to update')
                }

                $.put(
                    "http://localhost:4000/blogs/updateBlog/" + id, {
                        title: title,
                        text: text,
                        author: author,
                        category: category
                    },
                    function (data) {
                        $("#title").val('')
                        $("#author").val('')
                        $("#category").val('')
                        $("#text").val('')
                        $('#message').html(data)
                    }
                );
            });

      });
    </script>
  </head>
    <body style="background: linear-gradient(to right, #5190c4, #f7bb97);">
       <h2>
         <a href="http://localhost:4000/blogs/displaySingleBlog">Display / Delete Single Blog</a>
         <br>
         <a href="http://localhost:4000/blogs/displayBlogs">Display All Blogs</a>
         <br>
         <a href="http://localhost:4000/blogs/updateBlog">Update Blog</a>
         <br>
         <a href="http://localhost:4000/blogs/postBlog">Post Blog</a>
       </h2>
       <h1>Update Blog</h1>
       <label>Blog Title</label>
       <input id="title" size="40" type="text" >
       <br>
       <br>
       <label>Blog Text</label>
       <input id="text" size="40" type="text" >
       <br>
       <br>
       <label>Blog Author</label>
       <input id="author" size="40" type="text" >
       <br>
       <br>
       <label>Category</label>
       <input id="category" size="40" type="text" >
       <br>
       <br>
       <label>Blog Id to Update</label>
       <input id="id" size="40" type="text" required>
       <br>
       <br>
       <input type="button" id='update' value='Update'>
       <br>
       <br>
       <div id="message"></div>
  </body>
</html>